Module 5 Exercise: Level 1

1.Declare an empty list

In [1]:
emopty_list= []

2.Declare a list with more than 5 items

In [2]:
items = [1, 2, 3, 4, 5]

3.Find the length of your list

In [3]:
length = len(items)
print("Length of the list:", length)

Length of the list: 5

4.Get the first item, the middle item and the last item of the list

In [4]:
first_item = items[0]
middle_item = items[len(items) // 2]
last_item = items[-1]
print("First item:", first_item)
print("Middle item:", middle_item)
print("Last item:", last_item)

First item: 1
Middle item: 3
Last item: 5

5.Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [6]:
mixed_data_types = ["Beenah", 22, 5.6, "Married", "Azare"]
print("Mixed data types:", mixed_data_types)

Mixed data types: ['Beenah', 22, 5.6, 'Married', 'Azare']

6.Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [7]:
it_companies = ["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle" and "Amazon"]

7.Print the list using print()

In [8]:
print("IT Companies:", it_companies)

IT Companies: ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Amazon']

8.Print the number of companies in the list

In [9]:
print("Number of IT Companies:", len(it_companies))

Number of IT Companies: 6

9.Print the first, middle and last company

In [10]:
print("First Company:", it_companies[0])
print("Middle Company:", it_companies[len(it_companies) // 2])
print("Last Company:", it_companies[-1])

First Company: Facebook
Middle Company: Apple
Last Company: Amazon

10.Print the list after modifying one of the companies

In [12]:
it_companies[0] = "Meta"
print("Modified IT Companies:", it_companies)

Modified IT Companies: ['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Amazon']

11.Add an IT company to it_companies

In [13]:
it_companies.append("Twitter")
print("After adding a companies:", it_companies)

After adding a companies: ['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Amazon', 'Twitter']

12.Insert an IT company in the middle of the companies list

In [14]:
middle_index = len(it_companies) // 2
it_companies.insert(middle_index, "Tesla")
print("After inserting in the middle:", it_companies)

After inserting in the middle: ['Meta', 'Google', 'Microsoft', 'Tesla', 'Apple', 'IBM', 'Amazon', 'Twitter']

13.Change one of the it_companies names to uppercase (IBM excluded!)

In [15]:
it_companies = ["Facebook","Google", "Microsoft", "Apple", "IBM", "Oracle" "Amazon"]
it_companies[0] = it_companies[0].upper()
print("After changing one company to uppercase :", it_companies)

After changing one company to uppercase : ['FACEBOOK', 'Google', 'Microsoft', 'Apple', 'IBM', 'OracleAmazon']

14.Join the it_companies with a string '#;  '

In [16]:
joined_companies = "#;  ".join(it_companies)
print("Joined Companies:", joined_companies)

Joined Companies: FACEBOOK#;  Google#;  Microsoft#;  Apple#;  IBM#;  OracleAmazon

15.Check if a certain company exists in the it_companies list.

In [17]:
company_to_check = "Google"
print(f"Does {company_to_check} exist in the list?", company_to_check in it_companies)

Does Google exist in the list? True

16.Sort the list using sort() method

In [18]:
it_companies.sort()
print("Sorted IT companies:", it_companies)

Sorted IT companies: ['Apple', 'FACEBOOK', 'Google', 'IBM', 'Microsoft', 'OracleAmazon']

17.Reverse the list in descending order using reverse() method

In [19]:
it_companies.reverse()
print("Reversed IT companies:", it_companies)

Reversed IT companies: ['OracleAmazon', 'Microsoft', 'IBM', 'Google', 'FACEBOOK', 'Apple']

18.Slice out the first 3 companies from the list

In [20]:
first_three = it_companies[:3]
print("First 3 companies:", first_three)

First 3 companies: ['OracleAmazon', 'Microsoft', 'IBM']

19.Slice out the last 3 companies from the list

In [25]:
last_three = it_companies[-3:]
print("Last 3 companies:", last_three)

Last 3 companies: ['Google', 'FACEBOOK', 'Apple']

20.Slice out the middle IT company or companies from the list

In [26]:
middle_index = len(it_companies) // 2
if len(it_companies) % 2 == 0:
    middle_companies = it_companies[middle_index-1:middle_index+1]
else:
    middle_companies = [it_companies[middle_index]]
print("Middle company/companies:", middle_companies)

Middle company/companies: ['IBM', 'Google']

21.Remove the first IT company from the list

In [27]:
it_companies.pop(0)
print("After removing the first company:", it_companies)

After removing the first company: ['Microsoft', 'IBM', 'Google', 'FACEBOOK', 'Apple']

22.Remove the middle IT company or companies from the list

In [28]:
middle_index = len(it_companies) // 2
if len(it_companies) % 2 == 0:
    del it_companies[middle_index-1:middle_index+1]
else:
    del it_companies[middle_index]
    print("After removing the middle company/companies:", it_companies)

After removing the middle company/companies: ['Microsoft', 'IBM', 'FACEBOOK', 'Apple']

23.Remove the last IT company from the list

In [29]:
it_companies.pop(-1)
print("After removing the last company:", it_companies)

After removing the last company: ['Microsoft', 'IBM', 'FACEBOOK']

24.Remove all IT companies from the list

In [30]:
it_companies.pop(-1)
print("After removing all companies:", it_companies)

After removing all companies: ['Microsoft', 'IBM']

25.Destroy the IT companies list

In [32]:
del it_companies
print("IT companies list destroyed.")

IT companies list destroyed.

26.Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

In [33]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']
full_stack = front_end + back_end
print("Joined list (full_stack):", full_stack)

Joined list (full_stack): ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

27.After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

In [34]:
full_stack.insert(full_stack.index('Redux') + 1, 'Python')
full_stack.insert(full_stack.index('Python') + 1, 'SQL')
print("Üpdated full_stack list:", full_stack)

Üpdated full_stack list: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']