1.Create an empty tuple

In [2]:
empty_tuple =()

2.Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

In [3]:
sisters = ("Hafsat", "Kulthum", "Hauwa", "Aisha")
Brothers = ("Muhammad", "Abdulrahman", "Abubakar")

3.Join brothers and sisters tuples and assign it to siblings

In [4]:
siblings = sisters + Brothers

4.How many siblings do you have?

In [5]:
num_siblings = len(siblings)
print("I have", num_siblings, "siblings. ")

I have 7 siblings.

5.Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [6]:
siblings = ("Hafsat", "Kulthum", "Hauwa", "Aisha","Muhammad", "Abdulrahman", "Abubakar")
parents = ("Abdulrahman", "Labina")
family_members = siblings + parents
print("Family members:", family_members)

Family members: ('Hafsat', 'Kulthum', 'Hauwa', 'Aisha', 'Muhammad', 'Abdulrahman', 'Abubakar', 'Abdulrahman', 'Labina')

6.Unpack siblings and parents from family_members

In [7]:
*siblings, father, mother = family_members
print("Siblings:", siblings)
print("Father:", father)
print("Mother:", mother)

Siblings: ['Hafsat', 'Kulthum', 'Hauwa', 'Aisha', 'Muhammad', 'Abdulrahman', 'Abubakar']
Father: Abdulrahman
Mother: Labina

7.Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.

In [8]:
fruits = ("Applle", "Banana", "Orange")
vegetables = ("Carrots", "Spinach", "Cucumber")
animal_products = ("Milk", "Egg", "Cheese")
food_stuff_tp = fruits + vegetables + animal_products

8.Change the about food_stuff_tp tuple to a food_stuff_lt list

In [10]:
food_stuff_tp = list(food_stuff_tp)

9.Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.

In [13]:
middle_index = len(food_stuff_tp) // 2
if len(food_stuff_tp) % 2 == 0:
    middle_items = food_stuff_tp[middle_index - 1:middle_index + 1]
else:
    middle_items =[food_stuff_tp[middle_index]]
    print("Middle items:", middle_items)

Middle items: ['Spinach']

10.Slice out the first three items and the last three items from food_staff_lt list

In [14]:
first_three = food_stuff_tp[:3]
last_three = food_stuff_tp[-3:]
print("First three:", first_three)
print("Last three:", last_three)

First three: ['Applle', 'Banana', 'Orange']
Last three: ['Milk', 'Egg', 'Cheese']

11.Delete the food_staff_tp tuple completely

In [15]:
del food_stuff_tp

12.Check if an item exists in tuple:
Check if 'Estonia' is a nordic country

In [16]:
nordic_countries = ('Denmark', 'Filand', 'Iceland', 'Norway', 'Sweden')
print('Estonia' in nordic_countries)

False

13.Check if 'Iceland' is a nordic country

In [17]:
print('Iceland' in nordic_countries)

True

14.Find the length of the set it_companies

In [18]:
it_companies = {'Facebook', 'Goggle', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
length_of_it_companies = len(it_companies)
print("The number of IT companies is:", length_of_it_companies)

The number of IT companies is: 7

15.Add 'Twitter' to it_companies

In [19]:
it_companies = {'Facebook', 'Goggle', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.add('Twitter')
print("Updated IT companies:", it_companies)

Updated IT companies: {'Oracle', 'Twitter', 'IBM', 'Amazon', 'Apple', 'Microsoft', 'Facebook', 'Goggle'}

16.Insert multiple IT companies at once to the set it_companies

In [20]:
it_companies = {'Facebook', 'Goggle', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
new_companies = {'Twitter', 'Netflix', 'Adobe'}
it_companies.update(new_companies)
print("Updated IT companies:", it_companies)

Updated IT companies: {'Twitter', 'IBM', 'Amazon', 'Adobe', 'Microsoft', 'Facebook', 'Apple', 'Oracle', 'Netflix', 'Goggle'}

17.Remove one of the companies from the set it_companies

In [21]:
it_companies = {'Facebook', 'Goggle', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.remove('Goggle')
print("Updated IT companies:", it_companies)

Updated IT companies: {'Oracle', 'IBM', 'Amazon', 'Apple', 'Microsoft', 'Facebook'}

18.What is the difference between remove and discard

In [ ]:
the difference between remove and discard is that remove() raises a KeyError if the item does not exist,
while discard() does not.

19.Join A and B

In [25]:
A = {1,2,3}
B = {3,4,5}
result = A.union (B)
print(result)

{1, 2, 3, 4, 5}

20.Find A intersection B

In [26]:
A = {1,2,3}
B = {3,4,5}
intersection_result = A & B 
intersection_result_method = A.intersection(B)
print(intersection_result)
print(intersection_result_method)

{3}
{3}

21.Is A subset of B

In [3]:
A = {1,2,3}
B = {3,4,5}
if A.issubset(B):
  print("A is a subset of B")
else:
  print("A is not a subset of B")

A is not a subset of B

22.Are A and B disjoint sets

In [4]:
A = {1,2,3}
B = {3,4,5}
if A.isdisjoint(B):
  print("A and B are disjoint sets")
else:
  print("A and B are not disjoint sets")

A and B are not disjoint sets

23.Join A with B and B with A

In [5]:
A = {1,2,3}
B = {3,4,5}
A_union_B = A.union(B)
print("A joined with B:", A_union_B)
B_union_A = B.union(A)
print("B joined with A:", B_union_A)

A joined with B: {1, 2, 3, 4, 5}
B joined with A: {1, 2, 3, 4, 5}

24.What is the symmetric difference between A and B

In [6]:
A = {1,2,3}
B = {3,4,5}
symmetric_diff = A.symmetric_difference(B)
print("Symmetric difference between A and B:", symmetric_diff )

Symmetric difference between A and B: {1, 2, 4, 5}

25.Delete the sets completely

In [7]:
A = {1,2,3}
B = {3,4,5}
del A
del B

26.Convert the ages to a set and compare the length of the list and the set, which one is bigger?

In [8]:
ages_list = {25,30,25,40,30,35,40}
ages_set = set(ages_list)
list_length = len(ages_list)
set_length = len(ages_set)
print("Length of list:", list_length)
print("Length of set:", set_length)
if list_length > set_length:
    print("The list is bigger because it contains duplicates.")
elif list_length < set_length:
    print("The set is bigger, but this case should not happen.")
else:
    print("The list and the set have the same length.")

Length of list: 4
Length of set: 4
The list and the set have the same length.

27.Explain the difference between the following data types: string, list, tuple and set

In [ ]:
String: A string is a sequence of characters enclosed in either single quotes(')
        or double quotes(").
List: A list is an ordered collection of items that can be of different data types.publish_display_data.publish_display_data
Tuple: A tuple is an ordered collection of items, similar to a list.
Set: A set is an unordered collection of unique items.

28.I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [9]:
sentence = "I am a teacher and I love to inspire and teach people"
words = sentence.split()
unique_words = set(words)
unique_word_count = len(unique_words)
print("Unique words:", unique_words)
print("Number of unique words:", unique_word_count)

Unique words: {'to', 'teacher', 'teach', 'love', 'a', 'inspire', 'I', 'people', 'am', 'and'}
Number of unique words: 10