1.Create an empty dictionary called dog

In [1]:
dog = {}

2.Add name, color, breed, legs, age to the dog dictionary

In [2]:
dog["name"] = "Joker"
dog["color"] = "Brown"
dog["Breed"] = "Golden Retriever"
dog["Legs"] = 4
dog["Age"] = 3
print("Dog dictionary:", dog)

Dog dictionary: {'name': 'Joker', 'color': 'Brown', 'Breed': 'Golden Retriever', 'Legs': 4, 'Age': 3}

3.Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary

In [10]:
student = {
    "first_name": "Nazeef",
    "last_name": "Muhammad",
    "gender":"Male",
    "age": "23",
    "marital_status": "Married",
    "skills": ["Python", "Data Analysis"],
    "country": "Nigeria",
    "city": "Bauchi",
    "address": "Azare town",
                                                   }
print("\nStudent dictionary:", student)

Student dictionary: {'first_name': 'Nazeef', 'last_name': 'Muhammad', 'gender': 'Male', 'age': '23', 'marital_status': 'Married', 'skills': ['Python', 'Data Analysis'], 'country': 'Nigeria', 'city': 'Bauchi', 'address': 'Azare town'}

4.Get the length of the student dictionary

In [11]:
student_length = len(student)
print("\nLength of student dictionary:", student_length)

Length of student dictionary: 9

5.Get the value of skills and check the data type, it should be a list

In [12]:
skills = student["skills"]
print("\nSkills:", skills)
print("Type of skills:", type(skills))

Skills: ['Python', 'Data Analysis']
Type of skills: <class 'list'>

6.Modify the skills values by adding one or two skills

In [13]:
student["skills"].extend(["Machine Learning", "SQL"])
print("\nUpdated skills:", student["skills"])

Updated skills: ['Python', 'Data Analysis', 'Machine Learning', 'SQL']

7.Get the dictionary keys as a list

In [14]:
student_keys = list(student.keys())
print("\nKeys of the student dictionary:", student_keys)

Keys of the student dictionary: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']

8.Get the dictionary values as a list

In [15]:
student_values = list(student.values())
print("\nValues of the student dictionary:", student_values)

Values of the student dictionary: ['Nazeef', 'Muhammad', 'Male', '23', 'Married', ['Python', 'Data Analysis', 'Machine Learning', 'SQL'], 'Nigeria', 'Bauchi', 'Azare town']

9.Change the dictionary to a list of tuples using items() method

In [16]:
student_items = list(student.items())
print("\nStudent dictionary as a list of tupels:", student_items)

Student dictionary as a list of tupels: [('first_name', 'Nazeef'), ('last_name', 'Muhammad'), ('gender', 'Male'), ('age', '23'), ('marital_status', 'Married'), ('skills', ['Python', 'Data Analysis', 'Machine Learning', 'SQL']), ('country', 'Nigeria'), ('city', 'Bauchi'), ('address', 'Azare town')]

10.Delete one of the items in the dictionary

In [17]:
del student["marital_status"]
print("\nStudent dictionary after deleting 'marital_status':", student)

Student dictionary after deleting 'marital_status': {'first_name': 'Nazeef', 'last_name': 'Muhammad', 'gender': 'Male', 'age': '23', 'skills': ['Python', 'Data Analysis', 'Machine Learning', 'SQL'], 'country': 'Nigeria', 'city': 'Bauchi', 'address': 'Azare town'}

11.Delete one of the dictionaries

In [18]:
del dog
print("\n'Dog' dictionary has been deleted." )

'Dog' dictionary has been deleted.